body {
	padding: 40px;
}

input,
button {
	width: 100%;
	max-width: 220px;
	display: block;
	margin: 0 auto 5px;
}

.template {
	max-width: 720px;
	margin: 0 auto;
}

.template-header a {
	text-decoration: none;
}

.template-header-logout {
	float: right;
}

.template-body {
	min-height: 200px;
	padding: 20px;
	text-align: center;
	background: #FCFCFC;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.docs table {
	width: 100%;
}

.docs td {
	line-height: 32px;
}

.docs td a {
	text-decoration: none;
}

.docs td img {
	width: 32px;
	height: 32px;
	margin-right: 6px;
	border-radius: 2px;
	vertical-align: top;
}

.docs-message {
	background: green;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}


.upload-error {
	background: red;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.document {
	width: 480px;
	margin: 0 auto;
}

.document-preview {
	display: block;
	max-width: 480px;
	margin: 0 auto 20px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.document-preview.noPreview {
	padding: 20px;
	font-size: 28px;
	color: #CCC;
	line-height: 200px;
	border: 1px solid #CCC;
}

.document-download {
	display: block;
}
